* {
    margin: 0;
    padding: 0;
}

#page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar {
    background-color: #e7338d;
    grid-area: 1 / 1 / 2 / 2;
}

main {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#header-section {
    background-color: white;
    display: grid;
    grid-area: 1 / 1 / 2 / 2; 
    grid-template: 1fr 1fr / 1fr 1fr;
}

article {
    background-color: #CCCCCC;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr 1fr;
}

article #main {
    background-color: #5dfcfc;
    grid-area: 1 / 1 / 3 / 2;
}

article #announcement {
    background-color: #41eeee;
    grid-area: 1 / 2 / 2 / 3;
}

article #trending {
    background-color: #31dfdf;
    grid-area: 2 / 2 / 3 / 3;
}




