* {
    margin: 0;
    padding: 0;
}

:root {
    --lavender-blush: #f7ebec;
    --thistle: #ddbdd5;
    --rose-quartz: #ac9fbb;
    --payne-gray: #59656f;
    --raisin-black: #1d1e2c;
}

@font-face {
    font-family: Madrigal;
    src: url("madrigal-font/Madrigal-mLJ92.ttf");
}

#page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* ----- Sidebar ----- */

#sidebar {
    background-color: var(--rose-quartz);
    grid-area: 1 / 1 / 2 / 2;
}

#sidebar-wrapper {
    display: grid;
    grid-template-rows: 50px min-content min-content;
    row-gap: 40px;
    margin-left: 10%;
    margin-top: 20px;
}

#logo-container {
    height: 50px;
    display: flex;
    align-items: center;
}

#flower-logo-image {
    height: 50px;
}

#logo-text {
    font-family: Madrigal;
    color: var(--lavender-blush);
    text-align: center;
    margin-left: 20px;
    align-self: center;
}

.sidebar-link-container {
    display: grid;
    grid-auto-rows: 50px;
    align-items: center;
}

.sidebar-link-container li {
    display: grid;
    grid-template-columns: 50px min-content;
    list-style-type: none;
}

.sidebar-icon {
    height: 24px;
    align-self: center;
    justify-self: center;
}

.text {
    font-family: Helvetica, sans-serif;
    color: var(--lavender-blush);
    margin-left: 20px;
    align-self: center;
    transition: color 0.3s ease;
    cursor: pointer;
}

.text:hover {
    color: var(--thistle);
    text-decoration: underline;
}

/* ----- Content ----- */

main {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#header-section {
    background-color: var(--lavender-blush);
    display: grid;
    grid-area: 1 / 1 / 2 / 2; 
    grid-template: 1fr 1fr / 1fr 1fr;
}

#search-bar {
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 24px;

}

article {
    background-color: var(--thistle);
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr 1fr;
}

article #main-content {
    grid-area: 1 / 1 / 3 / 2;
}

article #announcement {
    border: 2px solid var(--payne-gray);
    border-radius: 20px;
    grid-area: 1 / 2 / 2 / 3;
}

article #trending {
    border: 2px solid var(--payne-gray);
    border-radius: 20px;
    grid-area: 2 / 2 / 3 / 3;
}




